# Programming for Data Science Series (Lab Session 3)
## Advanced Data Types Part 1
### List
* series of data that can be accessed by its index value
* able to use negative index to access from the end of the list
* able to slice series of data from the list by selecting range
* support <b>in</b> operator
* mutable (<b>i.e. can change the list after its creation</b>)
* orderd (<b>i.e. can use position (index) to access the content of the list</b>)

In [1]:
basket = ['cooking oil', 'milk', 'apple', 'banana', 'orange', 'juice', 'vegetables']
basket[0]

'cooking oil'

In [2]:
#check the data type of basket before accessing
type(basket)

list

In [3]:
basket[-1]

'vegetables'

In [4]:
basket[-2]

'juice'

In [5]:
#note that position two is excluded
basket[0:2]

['cooking oil', 'milk']

In [6]:
basket[:2]

['cooking oil', 'milk']

In [7]:
#note that position five is excluded
basket[3:5]

['banana', 'orange']

In [8]:
basket[:-2]

['cooking oil', 'milk', 'apple', 'banana', 'orange']

In [9]:
basket[-2:]

['juice', 'vegetables']

In [23]:
'apple' in basket

True

### List methods
* len() - return total number of element in the list
* max() - return largest element in the list
* min() - return smallest element in the list
* sorted() - return a copy of list with an order from smallest to largest (<b>Note: original list remains unchanged</b>)
* join() - combine elements in the list with given character
* append() -adds an element to the end of the list, use insert() to add to the top
* pop() - remove last element from the list unless an index is provided

In [10]:
len(basket)

7

In [11]:
max(basket)

'vegetables'

In [12]:
number_list = [50, 250, 100, 150, 200]
max(number_list)

250

In [13]:
min(number_list)

50

In [14]:
#list can be sorted
sorted(number_list)

[50, 100, 150, 200, 250]

In [15]:
print(basket)
print('----- see sorted below')
sorted(basket)

['cooking oil', 'milk', 'apple', 'banana', 'orange', 'juice', 'vegetables']
----- see sorted below

['apple', 'banana', 'cooking oil', 'juice', 'milk', 'orange', 'vegetables']

In [16]:
#join list itmes with a given character
'-'.join(basket)

'cooking oil-milk-apple-banana-orange-juice-vegetables'

In [17]:
#append will add new item to the list, but it will add to the end of list
basket.append('coconut')
basket

['cooking oil',
 'milk',
 'apple',
 'banana',
 'orange',
 'juice',
 'vegetables',
 'coconut']

In [18]:
#we can add new item infront of list
basket.insert(0, 'watermelon')
basket

['watermelon',
 'cooking oil',
 'milk',
 'apple',
 'banana',
 'orange',
 'juice',
 'vegetables',
 'coconut']

In [19]:
#if no index was given, it will remove the last item of the lsit
basket.pop()
basket

['watermelon',
 'cooking oil',
 'milk',
 'apple',
 'banana',
 'orange',
 'juice',
 'vegetables']

In [20]:
#if index is given, then it will removed the indexed item
basket.pop(1)
basket

['watermelon', 'milk', 'apple', 'banana', 'orange', 'juice', 'vegetables']

In [21]:
#milk will be removed, notice that our list is mutable and we are changing our list as we execute our code
basket.pop(1)
basket

['watermelon', 'apple', 'banana', 'orange', 'juice', 'vegetables']

In [22]:
#remove method remove the specific item from the list
basket.remove('juice')
basket

['watermelon', 'apple', 'banana', 'orange', 'vegetables']

> Joing two lists using + operator

In [33]:
listA = [1, 2, 3]
listB = [4, 5, 6]
listC = listA + listB
listC

[1, 2, 3, 4, 5, 6]

In [35]:
#clear empty the list but it does not delete the list
listC.clear()
listC

[]

In [37]:
#del command delete the list completely, therefore there is no listC available to show
del listC
print(listC)

NameError: name 'listC' is not defined

### Tuples
* used to store related pieces of information
* able to unpack into each variable in compact way
* immutable (<b>i.e. cannot change original values after creation</b>)
* ordered (<b>i.e. can use position (index) to access the content of the tuple</b>)

In [38]:
garage = ('Volvo', 'Honda', 'Audi', 'BMW')
garage

('Volvo', 'Honda', 'Audi', 'BMW')

In [40]:
type(garage)

tuple

In [52]:
len(garage)

4

In [41]:
garage[0]

'Volvo'

In [42]:
garage[-1]

'BMW'

In [44]:
#same as list, index number 3 is excluded and only 1 and 2 is selected
garage[1:3]

('Honda', 'Audi')

In [47]:
#support in opeartor
'Honda' in garage

True

In [56]:
#unpack into each variables in compact way
car1, car2, car3, car4 = garage
print(car1 + ' ' + car2)
print(car2 + ' ' + car3)

Volvo Honda
Honda Audi

> However, you cannot change the tuple, it is <b>immutable</b>

In [46]:
#we cannot change the tuple by sorting, it is immutable
sorted(garage)
garage

('Volvo', 'Honda', 'Audi', 'BMW')

In [43]:
#we cannot add new item to update tuple, it is immutable
garage[0] = 'Mercedes'
garage

TypeError: 'tuple' object does not support item assignment

In [48]:
#to add new item, we can covert to list and add, because list is mutable
garage_list = list(garage)
garage_list

['Volvo', 'Honda', 'Audi', 'BMW']

In [51]:
garage_list[0] = 'Mercedes'
garage_list

['Mercedes', 'Honda', 'Audi', 'BMW']

In [57]:
#now we can convert updated garage_list to tuple
garage_tuple = tuple(garage_list)
garage_tuple

('Mercedes', 'Honda', 'Audi', 'BMW')

<b>Note: List has square bracket [], where tuple has round bracket ()</b>

> End of Lab Session 3