# Programming for Data Science Series (Lab Session 4)
## Advanced Data Types Part 2
### Sets
* collection of unique elements
* duplications are removed
* support in operator same as list
* mutable (<b>i.e. can change the set after its creation</b>)
* unordered (<b>i.e. no first or last item</b>)

In [11]:
num_set = {1, 1, 2, 3, 4, 5}
num_set

{1, 2, 3, 4, 5}

> <b>Note: 1 appears twice but it was removed after all.</b>

In [12]:
#unordered, therefore 'set' object does not support indexing
num_set[0]

TypeError: 'set' object does not support indexing

In [ ]:
1 in num_set

In [ ]:
6 in num_set

### Accesing Sets and Sets methods
* can access each element inside the set by looping through
* new item can be added using add() method
* use update() method to add multiple items
* use pop(), remove() method to remove an item from set
* use clear(), del() to clear and delete set

In [13]:
#an example of using for loop to access set
for x in num_set:
    print(x)

1
2
3
4
5

In [14]:
num_set.add(100)
num_set

{1, 2, 3, 4, 5, 100}

In [15]:
#use update() method to add more than one item
num_set.update([7, 8])
num_set

{1, 2, 3, 4, 5, 7, 8, 100}

In [16]:
#use remove() to remove given item
num_set.remove(1)
num_set

{2, 3, 4, 5, 7, 8, 100}

In [19]:
#using pop() will remove the item
pop_item = num_set.pop()
print(pop_item)
num_set

4

{5, 7, 8, 100}

In [ ]:
#clear all items inside set
num_set.clear()
num_set

In [ ]:
#the set is already deleted, therefore there is no set to show
del num_set
num_set

### Sets Operations
* union() to join two sets
* intersection() to get common element from both sets

In [20]:
papa = {'Daddy', 'Son', 'Child'}
mama = {'Mommy', 'Daughter', 'Child'}
family = papa.union(mama)
family

{'Child', 'Daddy', 'Daughter', 'Mommy', 'Son'}

In [21]:
common_item = papa.intersection(mama)
common_item

{'Child'}

> We can use update() method to join sets

In [23]:
#using update() will alter the set one by adding all items from set two
numbers = {1, 2, 3}
alphabet = {'A', 'B', 'C'}
alphanumeric = numbers.update(alphabet)
print(alphanumeric)
print(numbers)

None
{1, 2, 3, 'B', 'A', 'C'}

### Dictionaries
* used for storing keys and values pairs of information
* mutable objects that store mappings of unique keys to values
* can be accessed using key
* keys not required to be same data type
* support in operator same as list

In [24]:
months = {'Jan':31, 'Feb':28, 'Mar':31, 'Apr':30}
months

{'Apr': 30, 'Feb': 28, 'Jan': 31, 'Mar': 31}

In [25]:
months['Jan']

31

In [33]:
#keys not required to be same data type
garbage = {1: 'One', 'Two': 2}
print(garbage[1])

One

In [34]:
#there is no key as 'One' in this dictionary, therefore we get error
print(garbage['One'])

KeyError: 'One'

In [26]:
#support in operator, but only check key
'Jan' in months

True

In [35]:
31 in months

False

### Accessing Dictionaries and Dictionaries methods
* can access each element inside the set by looping through
* get(), method to access value in a dictionary by its key
* use update() method to update
* use pop(), popitem() method to remove an item from dictionaries
* use clear(), del() to clear and delete dictionaries

In [39]:
for x in months:
    print(x)

Jan
Feb
Mar
Apr

In [37]:
for x in months:
    print(months[x])

31
28
31
30

In [38]:
for x in months.values():
    print(x)

31
28
31
30

In [41]:
for x, y in months.items():
    print(x, y)

Jan 31
Feb 28
Mar 31
Apr 30

In [42]:
#using get() method to access an item
jan_number = months.get('Jan')
jan_number

31