# Programming for Data Science Series (Lab Session 4)
## Advanced Data Types Part 2
### Sets
* collection of unique elements
* duplications are removed
* support in operator same as list
* mutable (<b>i.e. can change the set after its creation</b>)
* unordered (<b>i.e. no first or last item</b>)

In [1]:
num_set = {1, 1, 2, 3, 4, 5}
num_set

{1, 2, 3, 4, 5}

> <b>Note: 1 appears twice but it was removed after all.</b>

In [2]:
#unordered, therefore 'set' object does not support indexing
num_set[0]

TypeError: 'set' object does not support indexing

In [3]:
1 in num_set

True

In [4]:
6 in num_set

False

### Accesing Sets and Sets methods
* can access each element inside the set by looping through
* copy(), method to copy a set
* new item can be added using add() method
* use update() method to add multiple items
* use pop(), remove() method to remove an item from set
* use clear(), del() to clear and delete set

In [5]:
#an example of using for loop to access set
for x in num_set:
    print(x)

1
2
3
4
5

In [6]:
num_set.add(100)
num_set

{1, 2, 3, 4, 5, 100}

In [7]:
#use update() method to add more than one item
num_set.update([7, 8])
num_set

{1, 2, 3, 4, 5, 7, 8, 100}

In [8]:
#use remove() to remove given item
num_set.remove(1)
num_set

{2, 3, 4, 5, 7, 8, 100}

In [9]:
#using pop() will remove the item
pop_item = num_set.pop()
print(pop_item)
num_set

2

{3, 4, 5, 7, 8, 100}

In [10]:
#clear all items inside set
num_set.clear()
num_set

set()

In [11]:
#the set is already deleted, therefore there is no set to show
del num_set
num_set

NameError: name 'num_set' is not defined

### Sets Operations
* union() to join two sets
* intersection() to get common element from both sets

In [12]:
papa = {'Daddy', 'Son', 'Child'}
mama = {'Mommy', 'Daughter', 'Child'}
family = papa.union(mama)
family

{'Child', 'Daddy', 'Daughter', 'Mommy', 'Son'}

In [13]:
common_item = papa.intersection(mama)
common_item

{'Child'}

> We can use update() method to join sets

In [14]:
#using update() will alter the set one by adding all items from set two
numbers = {1, 2, 3}
alphabet = {'A', 'B', 'C'}
alphanumeric = numbers.update(alphabet)
print(alphanumeric)
print(numbers)

None
{1, 2, 3, 'C', 'B', 'A'}

In [33]:
#copy a set to create another set
copy_numbers = numbers.copy()
copy_numbers

{1, 2, 3, 'A', 'B', 'C'}

### Dictionaries
* used for storing <b>keys and values</b> pairs of information
* mutable objects that store mappings of unique keys to values
* can be accessed using key
* keys not required to be same data type
* support in operator same as list
* mutable (<b>i.e. can change the set after its creation</b>)
* unordered but indexed (<b>i.e. no first or last item</b>)

In [35]:
months = {'Jan':31, 'Feb':28, 'Mar':31, 'Apr':30}
months

{'Apr': 30, 'Feb': 28, 'Jan': 31, 'Mar': 31}

In [36]:
months['Jan']

31

In [37]:
#keys not required to be same data type
garbage = {1: 'One', 'Two': 2}
print(garbage[1])

One

In [38]:
#there is no key as 'One' in this dictionary, therefore we get error
print(garbage['One'])

KeyError: 'One'

In [39]:
#support in operator, but only check key
'Jan' in months

True

In [40]:
31 in months

False

### Accessing Dictionaries and Dictionaries methods
* can access each element inside the set by looping through
* get(), method to access value in a dictionary by its key
* copy(), method to copy a dictionary
* use update() method to update
* use pop() method to remove an item from dictionaries
* use clear(), del() to clear and delete dictionaries

In [41]:
for x in months:
    print(x)

Jan
Feb
Mar
Apr

In [42]:
for x in months:
    print(months[x])

31
28
31
30

In [43]:
for x in months.values():
    print(x)

31
28
31
30

In [44]:
for x, y in months.items():
    print(x, y)

Jan 31
Feb 28
Mar 31
Apr 30

In [45]:
#using get() method to access an item
jan_number = months.get('Jan')
jan_number

31

In [46]:
#copy a dictionary to create another dictionary
copy_months = months.copy()
copy_months

{'Apr': 30, 'Feb': 28, 'Jan': 31, 'Mar': 31}

In [47]:
#update Feb month value to 29
months['Feb']=29
months

{'Apr': 30, 'Feb': 29, 'Jan': 31, 'Mar': 31}

In [28]:
#remove element by defining key
months.pop('Jan')
months

{'Apr': 30, 'Feb': 29, 'Mar': 31}

In [29]:
#clear elements inside dictionaries
months.clear()
months

{}

In [30]:
#delete a dictionary permantly
del months
months #it is already deleted

NameError: name 'months' is not defined